<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 4: West Nile Virus

# Contents:

- Notebook Part 1 - Data Cleaning
- Notebook Part 2 - EDA
- Notebook Part 3 - Feature Engineering

# Problem Statement:

Due to the recent epidemic of West Nile Virus in the Windy City, we've had the Department of Public Health set up a surveillance and control system. We're hoping it will let us learn something from the mosquito population as we collect data over time. Pesticides are a necessary evil in the fight for public health and safety, not to mention expensive! We need to derive an effective plan to deploy pesticides throughout the city, and that is exactly where you come in!

The goal is of course to build a model and make predictions that the city of Chicago can use when it decides where to spray pesticides! Your team should have a clean Jupyter Notebook that shows your EDA process, your modeling and predictions.

Conduct a cost-benefit analysis. This should include annual cost projections for various levels of pesticide coverage (cost) and the effect of these various levels of pesticide coverage (benefit). (Hint: How would we quantify the benefit of pesticide spraying? To get "maximum benefit," what does that look like and how much does that cost? What if we cover less and therefore get a lower level of benefit?)

# Background:

West Nile virus is most commonly spread to humans through infected mosquitos. Around 20% of people who become infected with the virus develop symptoms ranging from a persistent fever, to serious neurological illnesses that can result in death.

In 2002, the first human cases of West Nile virus were reported in Chicago. By 2004 the City of Chicago and the Chicago Department of Public Health (CDPH) had established a comprehensive surveillance and control program that is still in effect today.

Every week from late spring through the fall, mosquitos in traps across the city are tested for the virus. The results of these tests influence when and where the city will spray airborne pesticides to control adult mosquito populations.

Given weather, location, testing, and spraying data, this competition asks you to predict when and where different species of mosquitos will test positive for West Nile virus. A more accurate method of predicting outbreaks of West Nile virus in mosquitos will help the City of Chicago and CPHD more efficiently and effectively allocate resources towards preventing transmission of this potentially deadly virus.

# Datasets Used

For the purpose of the analysis, we are provided with the `train`, `test`, `spray` and `weather` datasets. 

The `train` dataset consists of data from 2007, 2009, 2011 and 2013. We will be using this dataset for model building purposes. The `test` dataset consists of data from 2008, 2010, 2012 and 2014. We will be predicting the mosquito population information using this dataset. 

The `spray` dataset consists of Geographic Information Mapping (GIS) data for the spray efforts in 2011 and 2013. Spraying can reduce the number of mosquitos in the area, and therefore might eliminate the appearance of West Nile virus. 

The `weather` dataset consists of weather conditions of 2007 to 2014, during the months of the tests. It is believed that hot and dry conditions are more favorable for West Nile virus than cold and wet. 

Please refer to data dictionaries below for the full infomation found in the datasets.

# Importing the neccessary libraries and packages.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
pd.set_option('display.max_rows', 200)

In [2]:
# Load datasets
train1 = pd.read_csv('../dataset/train_df_cleaned2.csv')
test = pd.read_csv('../dataset/test_df_cleaned2.csv')
weather1 = pd.read_csv('../dataset/weather_df_cleaned2.csv')
spray = pd.read_csv('../dataset/spray_df_cleaned.csv')

In [3]:
train1.head()

,Unnamed: 0,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent,year,month,week,dayofweek
0,0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,2007,5,22,1
1,1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,2007,5,22,1
2,2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,2007,5,22,1
3,3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,2007,5,22,1
4,4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,2007,5,22,1

In [4]:
weather1.head()

,Unnamed: 0,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,...,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,year,month,week,dayofweek
0,0,1,2007-05-01,83,50,67,14,51,56,0,...,0.0,29.10,29.82,1.7,27,9.2,2007,5,18,1
1,1,2,2007-05-01,84,52,68,15,51,57,0,...,0.0,29.18,29.82,2.7,25,9.6,2007,5,18,1
2,2,1,2007-05-02,59,42,51,-3,42,47,14,...,0.0,29.38,30.09,13.0,4,13.4,2007,5,18,2
3,3,2,2007-05-02,60,43,52,-1,42,47,13,...,0.0,29.44,30.08,13.3,2,13.4,2007,5,18,2
4,4,1,2007-05-03,66,46,56,2,40,48,9,...,0.0,29.39,30.12,11.7,7,11.9,2007,5,18,3

Not yet

# Preparation for Engineering

In [5]:
# This gives me a more precise means of accessing certain weeks in a specific year
def year_week(row):
    week = row['week']
    year = row['year']
    row['yearweek'] = f'{year}{week}'
    row['yearweek'] = int(row['yearweek'])
    return row

In [6]:
train1 = train1.apply(year_week, axis=1)
weather1 = weather1.apply(year_week, axis=1)

# Relative Humidity

According to our EDA, excessive humidity is believed to be a significant role in the propagation of the West Nile virus because it has been found to boost mosquito activity, larval indices, and egg production. According to other studies, the ideal range of humidity to stimulate mosquito flight activity is between 44% and 69%, with 65% serving as the focal point.

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7068582/

https://bmcnoldy.rsmas.miami.edu/Humidity.html

We would like to combine dew point and average temperature to form relative humidity.

    TD is dew point temperature,
    T is average temperature,
    Relative Humidity: =100*(EXP((17.625*TD)/(243.04+TD))/EXP((17.625*T)/(243.04+T)))

To calculate Relative Humidity, we need to change our features from Fahrenheit to Celcius

In [7]:
def celsius(x):
    c = ((x - 32) * 5.0)/9.0
    return float(c)

In [8]:
weather1['tavgc'] = weather1['tavg'].apply(celsius)
weather1['tminc'] = weather1['tmin'].apply(celsius)
weather1['tmaxc'] = weather1['tmax'].apply(celsius)
weather1['dewpointc'] = weather1['dewpoint'].apply(celsius)

In [9]:
def r_humid(row):
    row['r_humid'] = round(100*(math.exp((17.625*row['dewpointc'])/(243.04+row['dewpointc'])) \
                          / math.exp((17.625*row['tavgc'])/(243.04+row['tavgc']))))
    return row

In [10]:
weather1 = weather1.apply(r_humid, axis=1)

In [11]:
# Dropping as Celcius features are no longer needed
weather1 = weather1.drop(columns=['tavgc', 'tminc', 'tmaxc', 'dewpointc','Unnamed: 0'])
weather1.sort_values(by='r_humid', ascending=False).head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sealevel,resultspeed,resultdir,avgspeed,year,month,week,dayofweek,yearweek,r_humid
505,2,2008-07-08,86,46,66,13,68,71,1,0,...,29.80,7.4,24,8.3,2008,7,28,1,200828,107
2811,2,2014-08-26,86,49,67,14,68,71,2,0,...,30.04,1.3,15,5.8,2014,8,35,1,201435,104
2574,1,2013-10-31,64,46,55,9,56,57,10,0,...,29.45,9.4,24,11.5,2013,10,44,3,201344,104
2575,2,2013-10-31,65,47,56,3,56,57,9,0,...,29.47,9.5,23,11.4,2013,10,44,3,201344,100
2572,1,2013-10-30,63,43,53,7,52,53,12,0,...,30.00,6.6,15,7.5,2013,10,44,2,201344,96

In [12]:
weather1['r_humid'].mean()

62.28498641304348

Note: The average humidity in Chicago could be a factor in the spread of the West Nile Virus.

Due to supersaturation, relative humidity can go above 100%. As the RH reaches 100%, water vapor starts to condense onto air pollutants (such dust or salt particles) and clouds or fog start to form.

https://www.chicagotribune.com/news/ct-xpm-2011-07-20-ct-wea-0720-asktom-20110720-story.html

# Weekly Average Precipitation

Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4342965/#RSTB20130561C42

It's commonly believed that above-average precipitation causes mosquito populations to rise and raises the risk of illness outbreaks like the West Nile Virus. Numerous studies have supported this positive link, however precipitation can be a little more complicated because it may dilute the nutrients available to larvae, slowing their pace of development. It might also lead to a negative association by flushing ditches and drainage channels used by Culex larvae.

Precipitation is still important to research, though. We can take into account cumulative weekly precipitation to develop a feature assessing weeks with significant rain, as opposed to looking at daily precipitation amounts that probably have no bearing on the occurrence of WNV on that specific day.

In [13]:
weather1 = weather1.apply(year_week, axis=1)

In [14]:
# Setting up grouped df for calculation of cumulative weekly precipitation
group_df = weather1.groupby('yearweek').sum()

In [15]:
def weekpreciptotal(row):
    yearweek = row['yearweek']
    row['weekpreciptotal'] = group_df.loc[yearweek]['preciptotal']
    return row

In [16]:
weather1 = weather1.apply(weekpreciptotal, axis=1)
weather1.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,resultspeed,resultdir,avgspeed,year,month,week,dayofweek,yearweek,r_humid,weekpreciptotal
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1.7,27,9.2,2007,5,18,1,200718,56,0.45
1,2,2007-05-01,84,52,68,15,51,57,0,3,...,2.7,25,9.6,2007,5,18,1,200718,55,0.45
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,13.0,4,13.4,2007,5,18,2,200718,71,0.45
3,2,2007-05-02,60,43,52,-1,42,47,13,0,...,13.3,2,13.4,2007,5,18,2,200718,69,0.45
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,11.7,7,11.9,2007,5,18,3,200718,55,0.45

# Weekly Average Temperature

Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4342965/

The most important factor linked to West Nile Virus outbreaks, according to research, is temperature. High temperatures have been shown to positively correlate with a number of factors, including viral replication rates, the seasonal phenology of mosquito host populations, the growth rates of vector populations, the viral transmission effectiveness to birds, and geographic variations in the incidence of human cases.

We'll also look at average temps by week rather than just the daily temperature.

In [17]:
def weekavgtemp(row):
    # Retrieve current week
    yearweek = row['yearweek']
    
    # Retrieving sum of average temperature for current week
    temp_sum = group_df.loc[yearweek]['tavg']
    
    # Getting number of days recorded by weather station for current week
    n_days = weather1[weather1['yearweek'] == yearweek].shape[0]
    
    # Calculate Week Average Temperature
    row['weekavgtemp'] = temp_sum / n_days
    
    return row

In [18]:
weather1 = weather1.apply(weekavgtemp, axis=1)
weather1.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,resultdir,avgspeed,year,month,week,dayofweek,yearweek,r_humid,weekpreciptotal,weekavgtemp
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,27,9.2,2007,5,18,1,200718,56,0.45,59.416667
1,2,2007-05-01,84,52,68,15,51,57,0,3,...,25,9.6,2007,5,18,1,200718,55,0.45,59.416667
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,4,13.4,2007,5,18,2,200718,71,0.45,59.416667
3,2,2007-05-02,60,43,52,-1,42,47,13,0,...,2,13.4,2007,5,18,2,200718,69,0.45,59.416667
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,7,11.9,2007,5,18,3,200718,55,0.45,59.416667

# Temporal Features

Source: https://pubmed.ncbi.nlm.nih.gov/30145430/

According to certain studies, rising temperatures and precipitation may have a delayed direct impact on the frequency of WNV infection. Given that most Culex mosquitoes lay their eggs for 7–10 days on average, prior weeks' temperatures, humidity, and precipitation may have contributed to a higher mosquito population in the coming weeks. The CDC states that eggs are prepared to hatch anywhere between a few days and several months after being placed. As a result, we'll make some time-lagged variables that start one month in the past.

Therefore we will computing these:
- Average Temperature (1 week - 4 weeks before)
- Cumulative Weekly Precipitation (1 week - 4 weeks before)
- Relative Humidity (1 week - 4 weeks before)

In [19]:
# For the Average Temperature (1 week - 4 weeks before)

def create_templag(row):   
    # Getting average temperature one week before
    yearweek = row['yearweek']
    
    # Calculating average temperature for up to four weeks before
    for i in range(4):
        try:
            row[f'templag{i+1}'] = weather1[weather1['yearweek'] == (yearweek - (i+1))]['weekavgtemp'].unique()[0]
            
        # For the first 4 weeks of the year where no previous data exists, create rough estimate of temperatures
        except IndexError:
            row[f'templag{i+1}'] = row['weekavgtemp'] - i
    return row

In [20]:
# Cumulative Weekly Precipitation (1 week - 4 weeks before)

def create_rainlag(row):
    # Getting average temperature one week before
    yearweek = row['yearweek']
    
    # Calculating average temperature for up to four weeks before
    for i in range(4):
        try:
            row[f'rainlag{i+1}'] = weather1[weather1['yearweek'] == (yearweek - (i+1))]['weekpreciptotal'].unique()[0]
            
        # Use average of column if no data available
        except IndexError:
            row[f'rainlag{i+1}'] = weather1['weekpreciptotal'].mean()
    return row

In [21]:
# For Relative Humidity (1 week - 4 weeks before)

def create_humidlag(row):
    # Getting average temperature one week before
    yearweek = row['yearweek']
    
    # Calculating average temperature for up to four weeks before
    for i in range(4):
        try:
            row[f'humidlag{i+1}'] = weather1[weather1['yearweek'] == (yearweek - (i+1))]['r_humid'].unique()[0]
            
        # Use average of column if no data available
        except IndexError:
            row[f'humidlag{i+1}'] = weather1['r_humid'].mean()
    return row

In [ ]:
weather1 = weather1.apply(create_templag, axis=1)
weather1 = weather1.apply(create_rainlag, axis=1)
weather1 = weather1.apply(create_humidlag, axis=1)
weather1.head()

In [ ]:
# Checking that temperature lagged variables are correct
weather1.groupby(by='yearweek').mean()[['weekavgtemp', 'templag1', 'templag2', 'templag3', 'templag4']].tail(5)

# Trap

We also discovered, during our exploratory data analysis, that several traps contained incredibly high numbers of mosquitoes and, consequently, high numbers of WnvPresent. We chose to one-hot encode each mosquito trap so that we could later compare them to our target variable.

In [ ]:
train1 = pd.get_dummies(train1, columns=['trap'])
train1 = train1.drop(columns=['Unnamed: 0'])
train1.head()

# Species

We also observed that there were only three species that were known to be WNV carriers. These species are the CULEX PIPIENS/RESTUANS, CULEX RESTUANS and CULEX PIPIENS. Noticeably, the incidence of the WNV in CULEX RESTUANS was 0.002 (49 positive pools vs 23431 mosquitos), while the incidence of the WNV in CULEX PIPIENS/RESTUANS was 0.004 (262 positive pools vs 66268 mosquitos). In CULEX PIPIENS, the incidence of WNV was measured at 0.005 (240 positive pools vs 44671 mosquitos).

Given this relationship, we placed a lighter weight on the CULEX RESTUANS, while assigning no weight to species that weren't identified as WNV carriers by the data.

In [ ]:
# WnvPresent by species
train1[['species', 'wnvpresent']].groupby('species').sum()

In [ ]:
train1['species'] = train1['species'].map({'CULEX PIPIENS/RESTUANS': 2, 'CULEX PIPIENS': 2, 'CULEX RESTUANS': 1}) \
                                   .fillna(0)

In [ ]:
# Checking species value count
train1['species'].value_counts()

# Feature Selection

As was already noted, the correlation between our attributes and our target was often pretty low. A notable solution to this is polynomial feature engineering; by merging or manipulating features, one may frequently considerably increase the feature's correlation to the objective.

Additionally, we can find interesting correlations between our variables.

In [ ]:
# Dropping NumMosquitos as it isn't present within test data
train1 = train1.drop(columns='nummosquitos')

# Polynomial Feature Engineering

In [ ]:
train_weather = pd.merge(weather1, train1, on=['date', 'year', 'week', 'month', 'yearweek', 'dayofweek'])

In [ ]:
X = train_weather[[col for col in train_weather.columns if 'wnvpresent' not in col]]._get_numeric_data()
y = train1['wnvpresent']

In [ ]:
# Generates the full polynomial feature table
poly = PolynomialFeatures(include_bias=False, degree=2)
X_poly = poly.fit_transform(X)
X_poly.shape

In [ ]:
# Adds appropriate feature names to all polynomial features
X_poly = pd.DataFrame(X_poly,columns=poly.get_feature_names(X.columns))

# Generates list of poly feature correlations
X_poly_corrs = X_poly.corrwith(y)

# Shows features most highly correlated (positively) with target
X_poly_corrs.sort_values(ascending=False).head(20)

Naturally, all of our top features involve a temperature variable of some kind. We'll choose just three features from this list in order to avoid multicollinearity our model.

In [ ]:
# Creating interaction features -- only 3 due to multicollinearity issues
train_weather['sunrise_weekavgtemp'] = train_weather['sunrise'] * train_weather['weekavgtemp']
train_weather['sunrise_wetbulb'] = train_weather['sunrise'] * train_weather['wetbulb']
train_weather['week_weekavgtemp'] = train_weather['week'] * train_weather['weekavgtemp']

In [ ]:
cm = abs(train_weather.corr()['wnvpresent']).sort_values(ascending=False)

In [ ]:
print(cm)

We will now try to remove some variables that have a very weak association to our aim. The majority of these variables are our one-hot-encoded trap feature.

In [ ]:
# Variables with less than 2% correlation to WnvPresent
cols_to_drop = cm[cm < 0.02].index
cols_to_drop

In [ ]:
train_weather = train_weather.drop(columns=cols_to_drop)
train_weather.shape

In [ ]:
plt.figure(figsize=(14, 14))
sns.heatmap(train_weather.corr(), cmap='coolwarm', square=True)

# Selecting Top Features

In [ ]:
cm = abs(train_weather.corr()['wnvpresent']).sort_values(ascending=False)
cm = cm.drop('wnvpresent')
cols_to_keep = cm.head(40)
cols_to_keep

In [ ]:
final_train_df = train_weather[cols_to_keep.keys()]

# Prepare Train & Test for Modelling

In [ ]:
test.head()

In [ ]:
test = pd.get_dummies(test, columns=['trap'])

In [ ]:
test['date'] = pd.to_datetime(test['date'])

In [ ]:
test['species'] = test['species'].map({'CULEX PIPIENS/RESTUANS': 2, 'CULEX PIPIENS': 2, 'CULEX RESTUANS': 1}).fillna(0)

In [ ]:
weather1['date'] = pd.to_datetime(weather1['date'])
merged_test_df = pd.merge(weather1, test)

In [ ]:
merged_test_df.columns

In [ ]:
merged_test_df['sunrise_weekavgtemp'] = merged_test_df['sunrise'] * merged_test_df['weekavgtemp']
merged_test_df['sunrise_wetbulb'] = merged_test_df['sunrise'] * merged_test_df['wetbulb']
merged_test_df['week_weekavgtemp'] = merged_test_df['week'] * merged_test_df['weekavgtemp']

In [ ]:
final_test_df = merged_test_df[cols_to_keep.keys()]

In [ ]:
# Checking for missing columns
[col for col in final_test_df if col not in final_train_df], [col for col in final_train_df if col not in final_test_df]

In [ ]:
final_train_df.shape

In [ ]:
final_test_df.shape

In [ ]:
final_train_df.isnull().sum()[final_train_df.isnull().sum() > 0]

In [ ]:
final_test_df.isnull().sum()[final_train_df.isnull().sum() > 0]

# Export for model

In [ ]:
final_train_df.to_csv('../dataset/final_train.csv', index=False)

In [ ]:
final_test_df.to_csv('../dataset/final_test.csv', index=False)